.line-clamp {
  --line-clamp-font-size: clamp(1rem, 3vw, 1.5rem);
  --line-clamp-font-lines: 3;
  --line-clamp-line-height: 1.2;
  display: -webkit-box;
  width: 100%;
  height: calc(var(--line-clamp-font-size) * var(--line-clamp-line-height) * var(--line-clamp-font-lines));
  font-size: var(--line-clamp-font-size);
  line-height: calc(var(--line-clamp-font-size) * var(--line-clamp-line-height));
  text-overflow:ellipsis;
  overflow:hidden;
  white-space: normal;
  -webkit-line-clamp: var(--line-clamp-font-lines);
  -webkit-box-orient: vertical;
  background: pink;
}